<div class="flex flex-column gap-2">
  <label for="{{ id ?? label }}">{{ label }}</label>
  <p-autoComplete
    id="{{ id ?? label }}"
    field="title"
    [(ngModel)]="value"
    [suggestions]="moviesSuggested"
    (keyup)="hasChanged()"
    (completeMethod)="suggestMovies($event)">

    <ng-template let-movie pTemplate="item">
      <div class="flex align-items-center gap-2" (click)="onMovieSelect(movie)">
        <img src="{{movie.poster}}" style="width: 50px" alt="{{movie.title}}"/>
        <div>
          <h4 class="m-2">{{ movie.title }}</h4>
          <h6 class="m-2">{{ movie.year }}</h6>
        </div>
      </div>
    </ng-template>

  </p-autoComplete>

  <small *ngIf="errorMessage"
         [ngStyle]="{color:'var(--red-500)'}">
    {{ errorMessage }}
  </small>
</div>
