<form class="grid" [formGroup]="enterForm" (ngSubmit)="onSubmit()">
  <div class="col-12 md:col-6">
    <roomex-form-input-text
      formControlName="name"
      [label]="'name' | translate"
      [errors]="enterForm.get('name')?.errors">
    </roomex-form-input-text>
  </div>
  <div class="col-12 md:col-6">
    <roomex-form-input-text
      formControlName="username"
      [label]="'username' | translate"
      [errors]="enterForm.get('username')?.errors">
    </roomex-form-input-text>
  </div>
  <div class="col-12 md:col-6">
    <roomex-form-select
      formControlName="country"
      [options]="countryOptions"
      [label]="'country' | translate"
      [errors]="enterForm.get('country')?.errors">
    </roomex-form-select>
  </div>
  <div class="col-12 md:col-6">
    <roomex-form-input-text
      formControlName="postCode"
      [id]="'postCode'"
      [label]="'post-code' | translate"
      [errors]="enterForm.errors?.['postCode']">
    </roomex-form-input-text>
  </div>
  <div class="col-12 md:col-6">
    <roomex-form-movie
      formControlName="favouriteMovie"
      [id]="'favouriteMovie'"
      [label]="'favourite-movie' | translate">
    </roomex-form-movie>
  </div>
  <div class="field col-12 mt-2">
    <button
      pButton
      icon="pi pi-send"
      class="w-full text-center"
      label="{{'submit' | translate}}">
    </button>
  </div>
</form>
