<form class="grid" [formGroup]="enterForm">
  <div class="col-4">
    <roomex-form-input-text
      formControlName="name"
      [label]="'name' | translate"
      [errors]="enterForm.get('name')?.errors">
    </roomex-form-input-text>
  </div>
  <div class="col-4">
    <roomex-form-input-text
      formControlName="username"
      [label]="'username' | translate"
      [errors]="enterForm.get('username')?.errors">
    </roomex-form-input-text>
  </div>
  <div class="col-4">
    <roomex-form-select
      formControlName="country"
      [label]="'country' | translate"
      [errors]="enterForm.get('country')?.errors">
    </roomex-form-select>
  </div>
  <div class="col-4">
    <roomex-form-input-text
      formControlName="postCode"
      [id]="'postCode'"
      [label]="'post-code' | translate"
      [errors]="enterForm.get('postCode')?.errors">
    </roomex-form-input-text>
  </div>
  <div class="col-4">
    <roomex-form-input-text
      formControlName="favouriteMovie"
      [id]="'favouriteMovie'"
      [label]="'favourite-movie' | translate">
    </roomex-form-input-text>
  </div>
  <div class="field col-4">
    <button
      pButton
      icon="pi pi-save"
      class="mt-4 w-full text-center"
      label="{{'submit' | translate}}"
      (click)="onSubmit()">
    </button>
  </div>
</form>
